<div class="container-fluid mb-4">

  
  <app-divider></app-divider>

  <!-- Fundation Contact -->
  <div class="col-7 align-self-center" style="margin: auto;">
    <h2>Kontakt</h2>
    <hr>
    <p>
      Fundacja <b>"Zawsze Razem"</b> opiekuje się 3 schroniskami.
      <br>
      Poniżej przedstawiamy dane kontaktowe do nas, jak również do poszczególnych schronisk.
    </p>

    <div class="row">
      <div class="col-6">
        <iframe width="340" height="320" id="gmap_canvas" src="https://maps.google.com/maps?q=Marii%20Konopnickiej%2062%20Trzciank&t=&z=13&ie=UTF8&iwloc=&output=embed" 
               frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
      <div class="col d-flex align-items-center">
        <ul id="contact" class="ms-5">
          <h5>Bezpośredni kontakt z fundacją:</h5>
           <li>
            <span><i class="bi bi-telephone-fill text-success"></i> +48 xxx xxx xxx</span>
           </li>
           <li>
            <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Marii Konopnickiej 62</span>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-warning"></i> 64-980 Trzciank</span>
           </li>
         </ul>
      </div>
    </div>
  </div>
  <app-divider></app-divider>

  <!-- Margonin Contact -->
  <div class="col-7 align-self-center mt-3" style="margin: auto;">
    <div class="row">
      <div class="col d-flex align-items-center">
        <ul id="contact" class="ms-5">
          <h5>Schronisko w Margoninie:</h5>
           <li>
            <span><i class="bi bi-telephone-fill text-success"></i> +48 668 282 689</span>
           </li>
           <li>
            <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-danger"></i> teren byłego składowiska odpadów komunalnych w Sułaszewie</span>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-warning"></i> 64-830 Margonin</span>
           </li>
           <li>
            <a href="https://pl-pl.facebook.com/schroniskomargonin" target="_blank"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
           </li>
         </ul>
      </div>
      <div class="col-6">
        <iframe width="340" height="320" id="gmap_canvas" src="https://maps.google.com/maps?q=%20Schronisko%20dla%20bezdomnych%20zwierz%C4%85t%2064-830%20Margonin&t=&z=13&ie=UTF8&iwloc=&output=embed" 
               frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
    </div>
  </div>
  <app-divider></app-divider>

  <!-- Choszczno Contact -->
  <div class="col-7 align-self-center mt-3" style="margin: auto;">
    <div class="row">
      <div class="col-6">
        <iframe width="340" height="320" id="gmap_canvas" 
               src="https://maps.google.com/maps?q=73-200%20Choszczno,%20Komunalna%2014&t=&z=13&ie=UTF8&iwloc=&output=embed" 
               frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
      <div class="col d-flex align-items-center">
        <ul id="contact" class="ms-5">
          <h5>Schronisko w Choszcznie:</h5>
           <li>
            <span><i class="bi bi-telephone-fill text-success"></i> +48 513 135 375</span>
           </li>
           <li>
            <a href="mailto: annalawrenz@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  annalawrenz@wp.pl</a>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Komunalna 14</span>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-warning"></i> 73-200 Choszczno</span>
           </li>
           <li>
            <a href="https://pl-pl.facebook.com/SchroniskodlaZwierzatwChoszcznie/" target="_blank"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
           </li>
         </ul>
      </div>
    </div>
  </div>
  <app-divider></app-divider>

  <!-- Jędrzejewo Contact -->
  <div class="col-7 align-self-center mt-3" style="margin: auto;">
    <div class="row">
      <div class="col d-flex align-items-center">
        <ul id="contact" class="ms-5">
          <h5>Schronisko w Jędrzejewie:</h5>
           <li>
            <span><i class="bi bi-telephone-fill text-success"></i> +48 672 558 073</span>
           </li>
           <li>
            <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Jędrzejewo 104</span>
           </li>
           <li>
            <span> <i class="bi bi-signpost-fill text-warning"></i> 64-713 Jedrzejewo</span>
           </li>
           <li>
            <a href="https://pl-pl.facebook.com/pages/category/Animal-Shelter/Schronisko-Jędrzejewo-2021999267871391/" target="_blank"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
           </li>
         </ul>
      </div>
      <div class="col-6">
        <iframe width="340" height="320" id="gmap_canvas" 
               src="https://maps.google.com/maps?q=64-713%20Jedrzejewo,%20j%C4%99drzejewo%20104&t=&z=13&ie=UTF8&iwloc=&output=embed" 
               frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
    </div>
  </div>
</div>


 