<div class="container-fluid">

  
  <app-divider></app-divider>

  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h2>Kilka słów o naszej fundacji</h2>
    <hr>
    <span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ante porttitor, eleifend purus aliquet, laoreet massa. 
        Pellentesque turpis tortor, vulputate et pulvinar non, commodo in ligula. Mauris suscipit iaculis sapien, eget tristique libero tempor vel. 
        Cras commodo felis mattis feugiat posuere. Nunc at cursus eros. Duis dignissim, nisi eget vestibulum tempus, massa arcu ullamcorper tellus, 
        a faucibus lectus dolor sed massa. Pellentesque elementum, purus at imperdiet euismod, mi leo ornare sapien, non vehicula magna quam non ante. 
        Integer porttitor malesuada neque, sed venenatis nibh bibendum non. 
      </p>


      <p>Praesent interdum justo sit amet lacinia elementum. Ut ut volutpat sapien, sed consequat velit. Nulla facilisi. 
        In luctus pharetra ipsum, non efficitur tellus tempus sit amet. Integer id mollis est, bibendum mattis dolor. 
        Fusce bibendum ullamcorper ex eu laoreet. Donec non ligula vitae odio sagittis accumsan. Nulla a posuere magna. 
        <br>

        Maecenas sed lorem euismod, ullamcorper nibh et, euismod diam. Pellentesque mollis bibendum dui, ut pellentesque sapien gravida sit amet. 
        Vivamus lacinia fringilla leo vitae imperdiet. Sed ut augue eleifend, commodo nulla eget, interdum ligula. Pellentesque eu mi scelerisque 
        odio varius dapibus nec ac nunc. Integer placerat eros massa, a luctus lorem fringilla vitae. Sed nec felis ut velit vehicula pretium. 
        Quisque at urna eu eros semper faucibus. Curabitur tristique arcu sed tellus consectetur, vitae tristique mi sodales.
      </p>

      <div class="row">
        <div class="col-6">
          <iframe width="340" height="320" id="gmap_canvas" src="https://maps.google.com/maps?q=Marii%20Konopnickiej%2062%20Trzciank&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                 frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
        </div>
        <div class="col d-flex align-items-center">
          <ul id="contact" class="ms-5">
            <h5>Bezpośredni kontakt z fundacją:</h5>
             <li>
              <span><i class="bi bi-telephone-fill text-success"></i> +48 xxx xxx xxx</span>
             </li>
             <li>
              <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
             </li>
             <li>
              <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Marii Konopnickiej 62</span>
             </li>
             <li>
              <span> <i class="bi bi-signpost-fill text-warning"></i> 64-980 Trzciank</span>
             </li>
           </ul>
        </div>
      </div>
    </span> 
  </div>
</div>
