<div class="container-fluid">

  
    <app-divider></app-divider>

    <div class="col-7 align-self-center mb-5" style="margin: auto;">
      <h2>Polityka prywatności</h2>
      <hr>
      <span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ante porttitor, eleifend purus aliquet, laoreet massa. 
          Pellentesque turpis tortor, vulputate et pulvinar non, commodo in ligula. Mauris suscipit iaculis sapien, eget tristique libero tempor vel. 
          Cras commodo felis mattis feugiat posuere. Nunc at cursus eros. Duis dignissim, nisi eget vestibulum tempus, massa arcu ullamcorper tellus, 
          a faucibus lectus dolor sed massa. Pellentesque elementum, purus at imperdiet euismod, mi leo ornare sapien, non vehicula magna quam non ante. 
          Integer porttitor malesuada neque, sed venenatis nibh bibendum non. 
        </p>
  

        <p>Praesent interdum justo sit amet lacinia elementum. Ut ut volutpat sapien, sed consequat velit. Nulla facilisi. 
          In luctus pharetra ipsum, non efficitur tellus tempus sit amet. Integer id mollis est, bibendum mattis dolor. 
          Fusce bibendum ullamcorper ex eu laoreet. Donec non ligula vitae odio sagittis accumsan. Nulla a posuere magna. 
          <br>

          Maecenas sed lorem euismod, ullamcorper nibh et, euismod diam. Pellentesque mollis bibendum dui, ut pellentesque sapien gravida sit amet. 
          Vivamus lacinia fringilla leo vitae imperdiet. Sed ut augue eleifend, commodo nulla eget, interdum ligula. Pellentesque eu mi scelerisque 
          odio varius dapibus nec ac nunc. Integer placerat eros massa, a luctus lorem fringilla vitae. Sed nec felis ut velit vehicula pretium. 
          Quisque at urna eu eros semper faucibus. Curabitur tristique arcu sed tellus consectetur, vitae tristique mi sodales.
        </p>
  
        <p>Maecenas pulvinar nibh arcu. Donec porta ipsum non accumsan viverra. Duis leo justo, placerat vel velit ut, tristique mollis augue. 
          Mauris eu arcu cursus, suscipit ligula at, molestie urna. Quisque non nulla sed enim ultrices maximus. Morbi tincidunt augue nec aliquet 
          posuere. Curabitur commodo accumsan odio et vestibulum. Sed nec fringilla urna. Sed vel justo ac quam posuere vehicula at eget nunc. 
          Curabitur semper ultricies pulvinar. Fusce sapien augue, luctus at eleifend at, tristique vitae tortor. Aliquam tincidunt ex nibh, ac 
          dignissim quam dignissim vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          <br>

          Praesent ac finibus nisl, sit amet aliquet leo. Donec elementum, enim eu fermentum finibus, sem felis porta lorem, in ornare ex felis quis 
          nulla. Phasellus nec tellus rutrum, porta enim vitae, rhoncus sapien. Curabitur volutpat turpis sed ullamcorper pharetra. 
          Quisque varius nec mi ut aliquet. Nam euismod aliquam nunc sit amet consequat. Fusce ut turpis tempus, vestibulum eros porttitor, 
          dapibus neque. Cras facilisis ornare ex eu eleifend. Donec ac ex vel neque sodales porta ut et tortor. In fermentum auctor quam ac iaculis. 
          Praesent tincidunt sollicitudin lacus ac volutpat. In tempor mauris id velit fermentum ullamcorper. Morbi venenatis neque eget lacus molestie, 
          ac pellentesque neque posuere. Pellentesque dapibus accumsan imperdiet. In eros lectus, dapibus vitae massa vel, viverra lobortis neque.
        </p>

        <p>
          Curabitur lobortis odio augue, eu viverra metus tincidunt eu. Phasellus viverra lectus nunc, eget tempus urna malesuada id. 
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In interdum massa convallis libero suscipit, 
          vitae bibendum sapien semper. Fusce nec metus sit amet leo tempor egestas feugiat ac arcu. Nullam eu felis nulla. Etiam velit metus, 
          varius sed varius nec, viverra et velit. Praesent ac eros ligula. Nulla ut nunc lectus. Pellentesque non nibh nec massa porta sodales eu 
          at odio. Sed sit amet lorem ac diam mollis finibus pharetra at metus. Donec nec tellus sed magna laoreet fermentum.
        </p>
      </span> 
    </div>
  </div>
