<div class="container-fluid">
  
  <app-divider></app-divider>

  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h2>Schroniska, którymi się opiekujemy</h2>
    <hr>
      <p class="mb-5"> 
        Nasza fundacja wspiera 3 schroniska w miejscowościach: w Margoninie, w Choszcznie oraz w Jędrzejewie.
      </p>
      <!-- Margonin Shelter -->
      <div>
        <h4>Schronisko w Margoninie</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in pharetra nulla. 
          Fusce erat nibh, laoreet vel nunc nec, tristique scelerisque magna. 
          Integer blandit massa non faucibus convallis. Mauris placerat luctus tortor et lobortis. 
          Donec in ipsum in purus congue imperdiet. Praesent laoreet dapibus velit, nec dapibus augue 
          lacinia ac. Aenean eu ex ex. Morbi id turpis dictum, semper nisl sed, tincidunt lacus. In enim 
          ligula, euismod id pretium a, varius consectetur libero. Aenean sit amet aliquam est. Phasellus 
          molestie vel erat eget imperdiet. In vestibulum augue ac ex bibendum, quis dignissim augue porttitor. 
          Etiam lacus magna, viverra eu feugiat vel, tempus in arcu. Curabitur lobortis volutpat arcu non dictum. 
          Donec ut purus risus.
        </p>
        <div class="row">
          <div class="col d-flex align-items-center">
            <ul id="contact" class="ms-5">
              <h5>Schronisko w Margoninie:</h5>
               <li>
                <span><i class="bi bi-telephone-fill text-success"></i> +48 668 282 689</span>
               </li>
               <li>
                <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
               </li>
               <li>
                <span> <i class="bi bi-signpost-fill text-danger"></i> teren byłego składowiska odpadów komunalnych w Sułaszewie</span>
               </li>
               <li>
                <span> <i class="bi bi-signpost-fill text-warning"></i> 64-830 Margonin</span>
               </li>
               <li>
                <a href="https://pl-pl.facebook.com/schroniskomargonin" target="_blank"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
               </li>
             </ul>
          </div>
          <div class="col-6">
            <iframe width="340" height="320" id="gmap_canvas" src="https://maps.google.com/maps?q=%20Schronisko%20dla%20bezdomnych%20zwierz%C4%85t%2064-830%20Margonin&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                   frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
          </div>
      </div>
   
      <app-divider></app-divider>


      <!-- Choszczno Shelter -->
      <div>
        <h4>Schronisko w Choszcznie</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in pharetra nulla. 
          Fusce erat nibh, laoreet vel nunc nec, tristique scelerisque magna. 
          Integer blandit massa non faucibus convallis. Mauris placerat luctus tortor et lobortis. 
          Donec in ipsum in purus congue imperdiet. Praesent laoreet dapibus velit, nec dapibus augue 
          lacinia ac. Aenean eu ex ex. Morbi id turpis dictum, semper nisl sed, tincidunt lacus. In enim 
          ligula, euismod id pretium a, varius consectetur libero. Aenean sit amet aliquam est. Phasellus 
          molestie vel erat eget imperdiet. In vestibulum augue ac ex bibendum, quis dignissim augue porttitor. 
          Etiam lacus magna, viverra eu feugiat vel, tempus in arcu. Curabitur lobortis volutpat arcu non dictum. 
          Donec ut purus risus.
        </p>
      
      <div class="row">
        <div class="col-6">
          <iframe width="340" height="320" id="gmap_canvas" 
                 src="https://maps.google.com/maps?q=73-200%20Choszczno,%20Komunalna%2014&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                 frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
        </div>
        <div class="col d-flex align-items-center">
          <ul id="contact" class="ms-5">
            <h5>Schronisko w Choszcznie:</h5>
             <li>
              <span><i class="bi bi-telephone-fill text-success"></i> +48 513 135 375</span>
             </li>
             <li>
              <a href="mailto: annalawrenz@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  annalawrenz@wp.pl</a>
             </li>
             <li>
              <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Komunalna 14</span>
             </li>
             <li>
              <span> <i class="bi bi-signpost-fill text-warning"></i> 73-200 Choszczno</span>
             </li>
             <li>
              <a href="https://pl-pl.facebook.com/SchroniskodlaZwierzatwChoszcznie/" target="_blank"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
             </li>
           </ul>
        </div>
      </div>
    </div>

    <app-divider></app-divider>

    <!-- Jędrzejewo Shelter -->
    <div>
      <h4>Schronisko w Jędrzejewie</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in pharetra nulla. 
          Fusce erat nibh, laoreet vel nunc nec, tristique scelerisque magna. 
          Integer blandit massa non faucibus convallis. Mauris placerat luctus tortor et lobortis. 
          Donec in ipsum in purus congue imperdiet. Praesent laoreet dapibus velit, nec dapibus augue 
          lacinia ac. Aenean eu ex ex. Morbi id turpis dictum, semper nisl sed, tincidunt lacus. In enim 
          ligula, euismod id pretium a, varius consectetur libero. Aenean sit amet aliquam est. Phasellus 
          molestie vel erat eget imperdiet. In vestibulum augue ac ex bibendum, quis dignissim augue porttitor. 
          Etiam lacus magna, viverra eu feugiat vel, tempus in arcu. Curabitur lobortis volutpat arcu non dictum. 
          Donec ut purus risus.
        </p>
        <div class="row">
          <div class="col d-flex align-items-center">
            <ul id="contact" class="ms-5">
              <h5>Schronisko w Jędrzejewie:</h5>
               <li>
                <span><i class="bi bi-telephone-fill text-success"></i> +48 672 558 073</span>
               </li>
               <li>
                <a href="mailto: xxxx@wp.pl" id="email"><i class="bi bi-envelope-fill text-info"></i>  xxxx@wp.pl</a>
               </li>
               <li>
                <span> <i class="bi bi-signpost-fill text-danger"></i> ul. Jędrzejewo 104</span>
               </li>
               <li>
                <span> <i class="bi bi-signpost-fill text-warning"></i> 64-713 Jedrzejewo</span>
               </li>
               <li>
                <a href="https://pl-pl.facebook.com/pages/category/Animal-Shelter/Schronisko-Jędrzejewo-2021999267871391/"><i class="bi bi-facebook"> Odwiedź nas na Facebooku</i></a>
              </li>
             </ul>
          </div>
          <div class="col-6">
            <iframe width="340" height="320" id="gmap_canvas" 
                   src="https://maps.google.com/maps?q=64-713%20Jedrzejewo,%20j%C4%99drzejewo%20104&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                   frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
          </div>
        </div>
    </div>

  </div>
</div>
