<div class="container-fluid">

  
  <app-divider></app-divider>

  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h2>Cennik</h2>
    <hr>
    <!-- Adoption Price List -->
    <div class="col-11 mt-5 d-flex justify-content-left" style="margin: auto;">
      <table class="table table-striped border-bottom">
        <thead class="bg-success ">
          <tr>
            <th scope="col" colspan="4" class="text-center">Adopcje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-3">Pies mieszaniec do 5 roku życia włącznie</td>
            <td>40zł</td>
          </tr>
          <tr>
            <td class="col-3">Pies mieszaniec powyżej 5 roku życia </td>
            <td>20zł</td>
          </tr>
          <tr>
            <td class="col-3">Pies w typie rasy (bez rodowodu) do 5 życia włącznie</td>
            <td>80zł</td>
          </tr>
          <tr>
            <td class="col-3">Pies w typie rasy (bez rodowodu) powyżej 5 roku życia</td>
            <td>40zł</td>
          </tr>
          <tr>
            <td class="col-3">Pies rasowy z rodowodem</td>
            <td>100zł</td>
          </tr>
          <tr>
            <td class="col-3">Kot europejski</td>
            <td>10zł</td>
          </tr>
          <tr>
            <td class="col-3">Kot w typie innej rasy (bez rodowodu)</td>
            <td>40zł</td>
          </tr>
          <tr>
            <td class="col-3">Kot innej rasy z rodowodem</td>
            <td>100zł</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Accessories Price List And Transport-->
      <div class="col-11 mt-5 d-flex justify-content-left" style="margin: auto;">
        <table class="table table-striped border-bottom">
          <thead class="bg-success ">
            <tr>
              <th scope="col" colspan="4" class="text-center">Akcesoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-3">Smycz dla psa</td>
              <td>10zł</td>
            </tr>
            <tr>
              <td class="col-3">Obroża dla psa</td>
              <td>10zł</td>
            </tr>
            <tr>
              <td class="col-3">Obroża dla psa</td>
              <td>10zł</td>
            </tr>
            <tr>
              <td class="col-3">Transporter dla kota</td>
              <td>40zł</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Transport -->
      <div class="col-11 mt-5 d-flex justify-content-right" style="margin: auto;">
        <table class="table table-striped border-bottom">
          <thead class="bg-success ">
            <tr>
              <th scope="col" colspan="4" class="text-center">Transport</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1,80zł za 1km</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
  