<div class="container-fluid">

<div class="row">
  
    <img src="../assets/Images/background.jpg" class="img-fluid w-100" alt="Responsive image"/>
  </div>
  <app-divider></app-divider>
  <div class="col-7 align-self-center" style="margin: auto;">
    
    <h1>Schronisko otwarte dla odwiedzających w godz. 12-17</h1>
    <hr>
    <span>
      Szanowni Państwo, <br>
      ze względu na sytuację epidemiologiczną spowodowaną koronawirusem SARS-CoV-2, w trosce o Państwa zdrowie oraz zdrowie naszych pracowników i wolontariuszy, prosimy o ograniczenie wizyt w naszym Schronisku do niezbędnego minimum oraz o ograniczenie liczby osób w grupie odwiedzającej naszą placówkę.
    </span> 
    <app-divider></app-divider>
  </div>
  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h1>ADOPCJA TO NAJLEPSZA OPCJA!</h1>
    <hr>
    <span>
      <p><b>Adopcja to szansa na lepszą przyszłość, to dar, który może odmienić czyjeś życie.</b></p> 
      <p>Jeśli chcesz zaadoptować zwierzę, na początku umów się telefonicznie na wizytę w
      schronisku (+48 xxx xxx xxx). </p>

      <p>Po przybyciu do schroniska, udaj się do biura. Tu wypełnisz krótką ankietę przedadopcyjną, a
        potem porozmawiamy o psie lub kocie Twoich marzeń. Będziemy chcieli wiedzieć, jakie masz
        doświadczenia ze zwierzętami i jaki styl życia prowadzisz, by pomóc Ci wybrać odpowiedniego przyjaciela.</p>

      <p>Adoptować zwierzę może tylko osoba pełnoletnia, posiadająca ważny dowód tożsamości.</p>

      <p><b><u>Zastrzegamy sobie prawo do odmówienia adopcji!</u></b></p>
    </span> 
  </div>
</div>